name: CI

on: [push, pull_request]

jobs:
  build:
    name: JDK ${{ matrix.java_version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # TODO Add 13 once Gradle 6.0 is out
        java_version: [1.8, 11, 12]
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Check Gradle checksum
        run: bash -c "$(curl -fsSL https://raw.githubusercontent.com/ZacSweers/check-gradle-checksums/master/check-gradle-checksums.sh)"
      - name: Install JDK
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java_version }}
      - name: Build with Gradle
        run: ./gradlew assemble
